# Configuration file

~CONFIG_VERSION: 0.1.0

world-1974054333 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-669392909 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=@EZS

    # Show the list of ingredients next to open guis.
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=swamp tal
    B:overlayEnabled=true
}


world-863910230 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@EZ
    B:overlayEnabled=true
}


world-994527873 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=bet
}


world1787395956 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=colada
    B:overlayEnabled=true
}


world712473666 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@prefab
    B:overlayEnabled=true
}


